@model AccountSync.Controllers.ResetPasswordViewModel

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div>
    <h4>ResetPasswordViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
