@model AccountSync.Models.DB_GEN.GenProxyAccount

@{
    ViewBag.Title = "密碼已重設";
}

<h2>密碼已重設為預設值</h2>

<div>
    @*<h4>您的密碼是</h4>
    @*@Html.DisplayFor(model => model.chUserID)*@
    @ViewData["NewPassword"]*@

    <hr />
    請盡快變更密碼

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chUserName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("修改密碼", "ChangePassword", new { UserID = Model.chUserID })
    <br />
    @Html.ActionLink("回到首頁", "Index")
</p>
