@model AccountSync.Models.AccountPagedListViewModel

@{
    ViewBag.Title = "AccountList";
}

<h2>帳號總覽</h2>

@*@Html.Partial("AccountFilter", Model.Parameter)*@


@using (Html.BeginForm("AccountList", "ProxyManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "AccountFilter" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4>依下列條件</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Parameter.ByUserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Parameter.ByUserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Parameter.ByUserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parameter.ByUserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Parameter.ByUserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Parameter.ByUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parameter.ByDeptName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Parameter.ByDeptName, (SelectList)Model.Depts, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Parameter.ByDeptName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="過濾" class="btn btn-default" />
                @Html.ActionLink("重設條件", "AccountList")
            </div>
        </div>
    </div>
}

<hr />
<div class="form-horizontal">
    @Html.PagedListPager(Model.Accounts, page => Url.Action("AccountList", new { page }))

    <table class="table">
        <tr>
            <th>
                重設密碼
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Accounts.FirstOrDefault().isSynced)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Accounts.FirstOrDefault().isEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Accounts.FirstOrDefault().UserID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Accounts.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Accounts.FirstOrDefault().DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Accounts.FirstOrDefault().NoteID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Accounts.FirstOrDefault().dtEndDate)
            </th>
        </tr>

        @foreach (var item in Model.Accounts)
        {
            <tr>
                <td>
                    @Html.ActionLink("重置密碼", "ResetPassword", new { UserID = item.UserID })
                </td>
                <td>
                    @{
            if (item.isSynced)
            {
                <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-remove"></span>
            }
                    }
                </td>
                <td>
                    @{
            if (item.isEnabled)
            {
                <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-remove"></span>
            }
                    }
                </td>
                <td>
                    @Html.DisplayFor(m => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(m => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.DeptName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.NoteID)
                </td>
                <td>
                    @Html.DisplayFor(m => item.dtEndDate)
                </td>
            </tr>
        }
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('.pagination>li>a[href]').each(function (i, item) {
                var link = $(item).attr('href').toLowerCase();
                var page = link.replace('/proxymanagement/accountlist?page=', '');
                $(item).attr('href', '#').click(function () { postPage(page); });

            });
        });

        function postPage(page) {
            var targetFormId = '#AccountFilter';
            if ($(targetFormId).size() > 0) {
                $('<input>')
                    .attr({ type: 'hidden', id: 'CurrentPage', name: 'CurrentPage', value: page })
                    .appendTo($(targetFormId));
                $(targetFormId).submit();
            }
        };

    </script>
}