@model AccountSync.Controllers.ResetPasswordViewModel

@{
    ViewBag.Title = "PasswordReseted";
}

<h2>密碼已重設</h2>

<div>
    <h4>您的密碼已重設為身分證號，請立刻變更預設密碼</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("變更密碼", "ResetPassword", new { user = Model.User })
</p>
