@model AccountSync.Controllers.ResetPasswordViewModel

@{
    ViewBag.Title = "PasswordIncorrect";
}

<h2>密碼錯誤</h2>

<div>
    <h4>您提供的舊密碼可能錯誤，請再重試</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("重試", "ResetPassword", new { user = Model.User })
</p>
