@model AccountSync.Controllers.ResetPasswordViewModel

@{
    ViewBag.Title = "PasswordChanged";
}

<h2>密碼已順利變更</h2>

<div>
    <h4>您的密碼已變更，謝謝</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("回到查詢", "Index") 
</p>
